<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" />
{{ partial "head" . }}

<body>
    <div>
        
        {{ partial "header" . }}
        {{ partial "slides" . }}
            <main id="site-main" role="main" class="relative z-10" style="margin-top:-8vh;">
            <div class="px-2 md:px-20 flex flex-wrap">
                {{ partial "itenary-list" . }}
                
                {{ partial "article-list" . }}
            </div>
            </main>
        {{.Content}}
        {{ partial "footer" . }} 
    </div>
</body>

</html>
