
@tailwind base;

@tailwind components;

@tailwind utilities;

pre {
    font-size: 0.6em;
    background: black;
    color: white;
    padding: 2%;
    border-radius: 5px;
  }

  .rounded-lg {
    border-radius: 2.5rem;
}
  
  @media (min-width: 1024px){
  .md\:pl-1\/2 {
      padding-left:55%;
  }
}
  