
@tailwind base;

@tailwind components;

@tailwind utilities;

pre {
    font-size: 0.8em;
    background: black;
    color: white;
    padding: 2%;
    border-radius: 5px;
  }
  
  @media (min-width: 768px){
  .md\:pl-1\/2 {
      padding-left:55%;
  }
}
  