<header class="p-10 pt-5 pb-2 h-full text-gray-700 flex">
  <div class="cursor-pointer h-full w-full relative">
    <a class="h-full w-full absolute" href="/"></a>
    <h1 class="text-5xl" style="font-family: 'Playlist Script';">Stardust</h1>
    <h2 class="text-xs font-medium ml-6 -mt-4">A D V E N T U R E S</h2>
  </div>
  <div id="navbar" class="pt-10">
    <ul class="flex md:justify-end lg:pr-40 font-bold">
      <li class="mr-6">
        <a class="hover:text-gray-900" href="/">Home</a>
      </li>
      <li class="mr-6">
        <a class="hover:text-gray-900" href="/article">Blog</a>
      </li>
    </ul>
  </div>
</header>