<header class="md:px-20">
  <!--  class="p-10 pt-5 pb-2 h-full text-gray-700 flex"
    <div class="cursor-pointer h-full w-full relative">
    <a class="h-full w-full absolute" href="/"></a>
    <h1 class="text-5xl" style="font-family: 'Playlist Script';">Stardust</h1>
    <h2 class="text-xs font-medium ml-6 -mt-4">A D V E N T U R E S</h2>
  </div>
  <div id="navbar" class="pt-10">
    <ul class="flex md:justify-end lg:pr-40 font-bold">
      <li class="mr-6">
        <a class="hover:text-gray-900" href="/">Home</a>
      </li>
      <li class="mr-6">
        <a class="hover:text-gray-900" href="/article">Blog</a>
      </li>
    </ul>
  </div> -->
  <nav class="flex items-center justify-between flex-wrap p-6 w-full">
    <!-- <div class="flex items-center flex-shrink-0 text-gray-700 mr-6">
      <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z" />
        </svg>
      <span class="font-semibold text-xl tracking-tight">Tailwind CSS</span>
    </div> -->
    <div class="cursor-pointer h-full relative">
      <a class="h-full w-full absolute" href="/"></a>
      <h1 class="text-5xl" style="font-family: 'Playlist Script';">Stardust</h1>
      <h2 class="text-xs font-medium ml-6 -mt-4">A D V E N T U R E S</h2>
    </div>
    <div class="block lg:hidden">
      <button onclick="navMenu()"
        class="flex items-center px-3 py-2 border rounded text-gray-700 border-gray-900 hover:text-gray-900 hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div id="nav-items" class="w-full hidden font-bold lg:block justify-end lg:flex lg:items-center lg:w-auto transition ease-in-out duration-1000 ">
      <div class="text-sm lg:flex-grow">
        <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-gray-700 hover:text-gray-900 mr-4">
          Home
        </a>
        <a href="/article" class="block mt-4 lg:inline-block lg:mt-0 text-gray-700 hover:text-gray-900 mr-4">
          Blog
        </a>
        <a href="/about" class="block mt-4 lg:inline-block lg:mt-0 text-gray-700 hover:text-gray-900">
          About Us
        </a>
      </div>
    </div>
  </nav>
</header>

<script>
  function navMenu(){
    let navItems  = document.getElementById('nav-items');
    if(navItems.classList.contains('hidden')) navItems.classList.remove('hidden')
    else navItems.classList.add('hidden');
  }
</script>