<div class="relative" style="height:75vh; overflow: hidden;">
    {{ $pages := .Pages }}
    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
    {{ $shuffled := shuffle $pages }}
    {{ range first 3 (where $shuffled "Section" "!=" "") }}
     <div class="absolute inset-0 w-screen items-center justify-center slide h-full">
        <a href="{{ .Permalink }}" class="absolute z-20 inset-0 w-full h-full"></a>
        <div class="w-full h-full lg:rounded-r-lg bg-cover bg-center bg-no-repeat flex-grow flex-shrink-0 absolute lg:w-1/2"style="flex-basis:50%;background-image: url(https://images.unsplash.com/photo-1524222717473-730000096953?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ&s=8b1938d…);"></div>
        <div class="font-bold text-gray-100 lg:text-gray-900 absolute py-10 md:py-20 lg:pr-40 md:pl-1/2 px-10 md:px-20 z-20" style="flex: 999 0 50%;">
            <h1 class="text-4xl md:text-5xl lg:text-4xl">{{.Title}}</h1>
            <h2>by {{.Params.author}}</h2>
        </div>
        <div class="lg:hidden w-full h-full bg-cover bg-center bg-no-repeat flex-grow flex-shrink-0 absolute lg:w-1/2"style="flex-basis:50%;background:black;opacity:0.4;z-index:1;"></div>
    </div>
    {{end}}
    <div onclick="nextSlide()" class="absolute top-0 bottom-0 right-0 w-16 h-16 flex items-center justify-center text-black cursor-pointer" style="height: 75vh;">
        <span class="bg-white px-5 py-3 rounded-full">&#x276F;</span>
    </div>
    <!-- <div onclick="previousSlide()" class="absolute bottom-0 right-0 bg-white w-16 h-16 mr-16 border-r border-gray-400 flex items-center justify-center text-black cursor-pointer">&#x276E;</div>  -->
</div>
<style>
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
</style>
<script>
    let slides = document.querySelectorAll('.slide');
        slides.forEach(element => {
            element.classList.add('translate-x-full');
        });
        slides[0].classList.remove('translate-x-full');
        slides[0].classList.add('translate-x-0');
        slides.forEach(element => {
            element.classList.add('transition-all', 'ease-in-out', 'duration-1000', 'transform');
        });
    window.onload=function(){
        document.getElementsByClassName("preload")[0].classList.remove("preload");
    }
    function nextSlide(){
    let activeSlide = document.querySelector('.slide.translate-x-0');
    activeSlide.classList.remove('translate-x-0');
    activeSlide.classList.add('-translate-x-full');
    let nextSlide;
    if(activeSlide.nextElementSibling.nextElementSibling==null) 
    {
        nextSlide = document.querySelectorAll('.slide.-translate-x-full');
        nextSlide.forEach(element => {
            element.classList.remove('-translate-x-full');
            element.classList.add('translate-x-full');
        });
        nextSlide[0].classList.remove('translate-x-full');
        nextSlide[0].classList.add('translate-x-0');
    }
    else{
        nextSlide = activeSlide.nextElementSibling;
        nextSlide.classList.remove('translate-x-full');
        nextSlide.classList.add('translate-x-0');
   }
    
}
</script>