    {{ $paginator2 := .Paginate (where .Data.Pages "Type" "article") }}
    {{ range first 3 $paginator2.Pages }}
     <div class="absolute inset-0 w-screen items-center justify-center slide h-full">
        <a href="{{ .Permalink }}" class="absolute z-20 inset-0 w-full h-full"></a>
        <div class="w-full h-full lg:rounded-r-lg bg-cover bg-center bg-no-repeat flex-grow flex-shrink-0 absolute lg:w-1/2"style="flex-basis:50%;background-image: url(https://images.unsplash.com/photo-1524222717473-730000096953?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ&s=8b1938d…);"></div>
        <div class="font-bold text-gray-100 lg:text-gray-900 absolute py-10 md:py-20 lg:pr-40 md:pl-1/2 px-10 md:px-20 z-20" style="flex: 999 0 50%;">
            <h1 class="text-4xl md:text-5xl lg:text-4xl">{{.Title}}</h1>
            <h2>by {{.Params.author}}</h2>
        </div>
        <div class="lg:hidden w-full h-full bg-cover bg-center bg-no-repeat flex-grow flex-shrink-0 absolute lg:w-1/2"style="flex-basis:50%;background:black;opacity:0.4;z-index:1;"></div>
    </div>
    {{end}}
