<div class="relative" style="height:75vh; overflow: hidden;">
    {{ $shuffled := shuffle .Site.RegularPages }}
    {{ range first 3 (where $shuffled "Section" "!=" "") }}
     <div class="absolute inset-0 w-screen items-center justify-center slide h-full">
        <a href="{{ .Permalink }}" class="absolute z-40 inset-0 w-full h-full"></a>
        {{if .Params.image}}     
        <div class="w-full h-full lg:rounded-r-lg bg-cover bg-center bg-no-repeat flex-grow flex-shrink-0 absolute lg:w-1/2" 
        style="background-image:url({{.Params.image | absURL}})"></div>
        <div class="font-bold text-gray-100 lg:text-gray-900 absolute py-10 md:py-20 md:pr-40 md:pl-1/2 px-10 md:px-20 z-20">
            <h1 class="text-4xl md:text-5xl lg:text-4xl">{{.Title}}</h1>
            <h2 class="absolute bottom-0">by {{.Params.author}}</h2>
        </div>
        <div class="bg-black bg-opacity-50 lg:hidden w-full h-full bg-cover bg-center bg-no-repeat flex-grow flex-shrink-0 absolute lg:w-1/2 z-10"></div>
        </div>
        {{else}}
        <div class="lg:rounded-r-lg bg-gradient-to-b from-orange-400 to-red-500 w-full h-full absolute inset-0 z-10"></div>
        <div class="font-bold text-gray-100 absolute py-10 md:py-20 md:pr-40 px-10 md:px-40 z-20">
            <h1 class="text-4xl md:text-5xl lg:text-4xl">{{.Title}}</h1>
            <h2 class="absolute bottom-0">by {{.Params.author}}</h2>
        </div>
    </div>

        {{end}}
                            
        
    {{end}}
    <div class="absolute top-0 bottom-0 right-0 w-16 flex items-center justify-center text-black cursor-pointer" style="height: 75vh;">
        <span onclick="nextSlide()" class="bg-white px-5 py-3 rounded-full">&#x276F;</span>
    </div>
</div>
<style>
@media (min-width: 1024px){
    .md\:pl-1\/2 {
        padding-left:55%;
    }
  }     
/* .preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
} */
</style>
<script>
    let slides = document.querySelectorAll('.slide');
        slides.forEach(element => {
            element.classList.add('translate-x-full');
        });
        slides[0].classList.remove('translate-x-full');
        slides[0].classList.add('translate-x-0');
        slides.forEach(element => {
            element.classList.add('transition-all', 'ease-in-out', 'duration-1000', 'transform');
        });
    window.onload=function(){
        document.getElementsByClassName("preload")[0].classList.remove("preload");
    }
    function nextSlide(){
    let activeSlide = document.querySelector('.slide.translate-x-0');
    activeSlide.classList.remove('translate-x-0');
    activeSlide.classList.add('-translate-x-full');
    let nextSlide;
    if(activeSlide.nextElementSibling.nextElementSibling==null) 
    {
        nextSlide = document.querySelectorAll('.slide.-translate-x-full');
        nextSlide.forEach(element => {
            element.classList.remove('-translate-x-full');
            element.classList.add('translate-x-full');
        });
        nextSlide[0].classList.remove('translate-x-full');
        nextSlide[0].classList.add('translate-x-0');
    }
    else{
        nextSlide = activeSlide.nextElementSibling;
        nextSlide.classList.remove('translate-x-full');
        nextSlide.classList.add('translate-x-0');
   }
    
}
</script>